body
{
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

header
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #00aeff;
}

head2
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img
{
    height: 30px;
}

header a
{  
    text-decoration: none;
}

header button
{
    
    display: flex;              
    align-items: center;       
    gap: 8px;                   
    padding: 6px 12px;
    font-size: 15px;
    color: #00aeff;
    border: none;
    background: #084482;   
    margin-left: 20px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: 20px;
    height: 40px;
    border-radius: 24px;
}

main
{
    text-align: center;
}

#contact_main img
{
    border-radius: 50%;
}

#whatsapp
{
    height: 35px;
    width: 35px;
}

#logo
{
    margin-left: 30px;
}

#dropdown_contact
{
    position: relative;
}

.dropdown_menu
{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    
    z-index: 10;
}

.dropdown_menu.show{
    display: block;
}

.dropdown_menu a
{
    color: black;
    display: flex;
    align-items: center;
    font-size: small;
    gap: 10px;
}

#dropdown_currency
{
    position: relative;
}

p
{
    display: flex;
    align-items: center;
}

#dropdown_account
{
    position: relative;
}

#welcome
{
    background: url('assets/v7-homepage1.jpg');
        background-color: rgba(0,0,0,0.4);
        background-blend-mode: darken;
    color: white;
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
}

#search
{
    margin-left: 400px;
    margin-right: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    flex-wrap: wrap;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    padding-left: 20px;
    padding-right: 20px;
    margin-right: px;
    height: 100px;
    width: 950px;
    

    box
    {
        display: inline-flex;
        border-left-style: solid;
        border-top-style: solid;
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-width: 1px;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        height: 50px;
        width: 300px;
        margin-right: 10px;
        align-items: center;
    }

    

    img
    {
        height: 20px;
        width: 20px;
        margin-right: 10px;
    }
    
    input
    {
        height: 30px;
        border-width: 0px;
        width: 250px;
        z-index: 20;
    }
    
    button
    {
        padding-right: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 40px;

        color: white;
        background-color: #00aeff;
        border-radius: 5px;
        border-width: 0px;
        font-size: medium;
    }
}

.is-fixed{
    position: fixed;
    top: 0px;
    width: 100%;
}
.is-norm
{
    position: absolute;
    top: 510px;
}
 
#suggested
{
    margin-top: 140px;
    font-family: Lato;
}

#suggested_place
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    margin-top: 80px;
    button
    {
        background-color: white;
        border-color: #00aeff;
        border-radius: 5px;
        height: 118px;
        width: 147px;
        span
        {
            font-weight: bold;
            color: #00aeff;
            font-size: large
        }
    }
}

#deals
{
    margin-top: 100px;
    font-family: Lato;
}

#hdeals box
{
    display: inline-block;
    img
    {
        padding-bottom: 16px;
        height: 206px;
        width: 320px;
    }
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    padding-bottom: 16px;
    height: 280.6px;
    padding-left: 0px;
    padding-right: 0px;
    width: 320px;
    padding-top: 0px;
}

.shelf
{
    margin-top: 15px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.black
{
    color: black;
    text-decoration: none;
}
.blue
{
    font-weight: bold;
    color: #00aeff;
    text-decoration: none;
}

#popular
{
    font-family: Lato;
    span
    {
        display: block;
        position: relative;
        overflow: hidden;
    }
}

#popular .city_card
{
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;

    background-color: rgba(0,0,0,0.4);
    background-blend-mode: darken;
    height: 249.8px;
    width: 320px;
    background-size: cover;
    align-content: center;
    color: white;
    text-decoration: none;
}

.pop_button button
{
    margin-top: 20px;
    background-color: rgba(0,0,0,0.4);
    border: white solid 2px;
    color: white;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
}

.pop_button
{
    display: block;
    position: absolute;
    z-index: 10;
    bottom: 0;
    width: 100%;
    height: 81px;
    background-color: rgba(0,0,0,0.4);
    visibility: hidden;

    transform: translateY(100%);
    transition: transform 0.4s ease;
}

#popular span:hover .pop_button
{
    visibility: visible;
    transform: translateY(0);
} 

#bold
{
    font-weight: bolder;
}

#lagosi
{
    background: url('assets/city1.jpeg');
}
#abujai
{
    background: url('assets/city2.jpeg');
}
#calabari
{
    background: url('assets/city3.jpeg');
}
#PHi
{
    background: url('assets/city4.jpeg');
}
#owerrii
{
    background: url('assets/city5.jpeg');
}
#uyoi
{
    background: url('assets/city6.jpeg');
}



#all
{
    margin-top: 100px;
    font-family: Lato;
}

.city_hotel
{
    display: inline-block;
    height: 82px;
    width: 165px;
}

#offer
{
    display: flex;
    margin-top: 100px;
    font-family: Lato;
    background-color: rgba(0,0,0,0.05);
    height: 250px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    font-family: Lato;

    input
    {
        border-radius: 2px;
        height: 20px;
        
    }

    button
    {
        background-color: #00aeff;
        border-color: #00aeff;
        color: white;
    }
}

#featured .shelf
{
    margin-top: 60px;
    gap: 200px;
}

#featured
{
    margin-top: 100px;
    font-family: Lato;
}

#add
{
    margin-top: 100px;
    font-family: Lato;
    button
    {
        background-color: #00aeff;
        border: #00aeff;
        color: white;
        border-radius: 8px;
        height: 44px;
        width: 277px;
    }
}

#app
{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 20px;
    h1
    {
        color: #00aeff;
    };
    h3
    {
        color: #4F4F4F;
    };
    #app_about
    {
        display: inline-block;
        width: 374px;
        text-align: left;
        margin-top: auto;
        margin-bottom: auto;
        img
        {
            margin-top: 15px;
            height: 61px;
            width: 183px;
        }
    };

    background-color: rgba(0,191,255,0.06);
}

#lock
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #084482;
    color: #00aeff;
    height: 95px;
    text-align: left;
    div
    {
        display: flex;
        flex-direction: column;
        gap: 10px;
        h
        {
            color: white;
            font-size: large;
            font-weight: bold;
        }
    }
    img
    {
        border-radius: 50%;
        background-color: white;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        height: 14px;
        margin-top: 10px;
        margin-right: 20px;
    }

    button
    {
        background-color: #00aeff;
        border-color: #00aeff;
        color: white;
        border-radius: 6px;
        margin-left: 30px;
        height: 30px;
        width: 100px;
    }
}

#mobile_end
{
    display: none;
}

footer
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



#more
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    color: #4F4F4F;
    font-size: 12px;
}

#more a
{
    text-decoration: none;
    color: #00aeff;
}

#more p
{
    display: flex;
    flex-direction: column;
    border: 0px;
    align-items: baseline;
    gap: 5px;
}

#end
{
    display: inline-flex;
    border-top: solid #4F4F4F 1px; 
    width: 1000px;
    align-items: center;
    justify-content: space-between;
    color: #4F4F4F;
    font-size: 15px;
}

#end h
{
    margin-right: 100px;
}

#end img
{
    margin-left: 10px;
    width: 48px;
}

#end span
{
    display: inline-flex;
    align-items: center;
}

@media (max-width: 768px)
{
    #more
    {
        display: none;
    }
    #end
    {
        display: none;
    }
    #all
    {
        display: none;
    }
    #featured
    {
        display: none;
    }
    #box-search
    {
        display: flex;
        justify-content: center; 
    }
    box#date-check
    {
        display: none;
    }
    box#hotel_search
    {
        width: auto;
    }
    box
    {
        width: auto;
    }
    .shelf
    {
        flex-wrap: wrap;
    }

    #suggested_place
    {
        flex-wrap: wrap;
    }
    head2
    {
        display: none;
    }
    .is-fixed
    {
        position: absolute !important;
    }
    #lock
    {
        display: none;
    }
    #mobile_end
    {
        display: flex;
        flex-direction: column;
        background-color: #084482;
        color: white;
        gap: 30px;
        padding: 20px 0px 20px 0px;
    }
    #mobile_end a
    {
        font-weight: 100px;
        color: white;
        text-decoration: none;
    }

}